* {
  font-family: "Roboto", sans-serif;
  color: white;
}
body {
  background-color: #201e43;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150px;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Site-Title {
  font-size: 80px;
  color: whitesmoke;
}

#Main-Grid {
  margin-top: 20px;
  height: 450px;
  width: 450px;
  display: grid;
  grid-template-areas:
    "button0 button1 button2"
    "button3 button4 button5"
    "button6 button7 button8";
}
.button {
  color: black;
  background-color: white;
  font-size: 90px;
  min-width: 150px;
  min-height: 150px;
  border-radius: 20px;
}
.button:hover {
  background-color: white;
}
#button0 {
  grid-area: button0;
}
#button1 {
  grid-area: button1;
}
#button2 {
  grid-area: button2;
}
#button3 {
  grid-area: button3;
}
#button4 {
  grid-area: button4;
}
#button5 {
  grid-area: button5;
}
#button6 {
  grid-area: button6;
}
#button7 {
  grid-area: button7;
}
#button8 {
  grid-area: button8;
}

@media only screen and (max-width: 450px) {
  #Site-Title {
    font-size: 60px;
    color: whitesmoke;
  }

  main {
    width: 400px;
  }

  #Main-Grid {
    margin-top: 20px;
    width: 410px;
    height: 410px;
    display: grid;
    grid-template-areas:
      "button0 button1 button2"
      "button3 button4 button5"
      "button6 button7 button8";
  }

  .button {
    color: black;
    background-color: white;
    font-size: 40px;
    min-width: 140px;
    max-width: 140px;
    min-height: 140px;
    max-height: 140px;
    border-radius: 20px;
  }

  footer {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* bottom: 0px; */
    /* width: 90%; */
    height: 2.5rem;
    background-color: transparent;
    /* padding: 20px 0; */
  }
}

/* FOOTER STUFF */
footer {
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
  width: 99%;
  height: 2.5rem;
  background-color: transparent;
  /* padding: 20px 0; */
}

footer img {
  width: 90px;
  height: auto;
  filter: invert();
}
